# Auto detect text files and perform LF normalization
* text=auto

<!DOCTYPE html>
<html>
  <head>
    <h1>Really Good Food</h1>

    <style>
      ul.nav li {
        display: inline-block
        padding-right: 10px;
        background: purple;
      }
      ul.nav li a {
        color: white
      }
    </style>
  </head>

  <body>
    <ul class="navigation">
      <li><a href="#map">Home</a></li>
      <li><a href="#recipes">The Best Recipes</a></li>
      <li><a href="information">About Us</a></li>
    </ul>

    <img src="https://cdn.mapsinternational.co.uk/pub/media/catalog/product/cache/afad95d7734d2fa6d0a8ba78597182b7/w/o/world-wall-map-political-without-flags_wm00001_h.jpg" alt="The World Map" style="width:800px;height:500px">
  </body>

</html>
